@model IEnumerable<RailwayReservation.Models.Train>

@{
    ViewData["Title"] = "Train List";
}

<h2>Train List</h2>


@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-secondary">Add New Train</a>
    </p>
}

<table class="table" id="trainTable">
    <thead>
        <tr>
            <th>Train No</th>
            <th>Name</th>
            <th>Direction</th>
            <th>Total Coaches</th>
            <th>AC1 Seats</th>
            <th>AC3 Seats</th>
            <th>Sleeper Seats</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TrainNo</td>
                <td>@item.Name</td>
                <td>@(item.IsUp ? "Up" : "Down")</td>
                <td>@item.TotalCoaches</td>
                <td>@item.Ac1Seats</td>
                <td>@item.Ac3Seats</td>
                <td>@item.SleeperSeats</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TrainNo" class="btn btn-outline-dark">Details</a>

                    
                    @if (User.IsInRole("Admin"))
                    {
                        <span><a asp-action="Edit" asp-route-id="@item.TrainNo" class="btn btn-outline-primary">Edit</a> </span>
                        <span><a asp-action="Delete" asp-route-id="@item.TrainNo" class="btn btn-outline-danger">Delete</a> </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#trainTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                responsive: true,
                language: {
                    paginate: {
                        next: 'Next',
                        previous: 'Previous'
                    }
                }
            });
        });
    </script>
}
